nav ul, footer ul {
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(151, 151, 151);
}
h1 {
    font-size: 3em;
    margin: 1em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
}
h2 {
    font-size: 2em;
    /* width: 70%; */
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
}
p, ul {
    font-size: 1.5em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    line-height: 1.4em;
    color: rgb(75, 75, 75);
}
p#small {
    font-size: 1.2em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    color: #333;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.content {
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    font-size: 1.2em;
}
.content-large {
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    font-size: 1.5em;
}
.content-bold {
    margin: 0 auto;
    padding: 50px;
    width: 70%;
    font-size: 1.2em;
    font-weight: bold;
}
.error {color: #FF0000;}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
body,h1,h2,h3,h4,h5,h6 {
    font-family: "Inconsolata", sans-serif;
}

body, html {
    height: 100%;
    color: rgb(73, 73, 73);
    line-height: 1.8;
}
div.a {
    text-indent: 50px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url("../assets/images/IMG_2181.png");
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("../assets/images/IMG_4937.png");
    min-height: 100%;
}

.bgimg-3 {
    background-image: url("../assets/images/IMG_0242_2.png");
    min-height: 100%;
}

.bgimg-4 {
    background-image: url("../assets/images/IMG_6524_cropped.png");
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1200px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
        min-height: vh;/*400px;*/
    }
}